DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
REFERRAL_PANEL_CHANNEL_ID=
REFERRAL_ENTRY_CHANNEL_ID=
REFERRAL_VERIFIED_ROLE_ID=
REFERRAL_POINTS_PER_INVITE=100
REFERRAL_QUALIFICATION_HOURS=24
REFERRAL_LEADERBOARD_LIMIT=10

STRIPE_SECRET_KEY=
